body {
  background-color: #f7f7f7;
  font-family: Arial, sans-serif;
  transition: background-color 0.5s ease;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.profile {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 40px;
  width: 300px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: background-color 0.5s ease;
}

.profile h1 {
  margin: 0;
  font-size: 24px;
  margin-top: 10px;
}

.profile p {
  margin: 0;
  color: #555555;
  font-size: 14px;
}

.links {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

a {
  display: block;
  background-color: #007bff;
  color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

a:last-child {
  margin-bottom: 0;
}

a:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.switch-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.switch-button input[type='checkbox'] {
  display: none;
}

.switch-button label {
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: #dddddd;
  border-radius: 10px;
  position: relative;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.switch-button label:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: -1px;
  left: -1px;
  background-color: #ffffff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease;
}

.switch-button input:checked + label {
  background-color: #2d2d2d;
}

.switch-button input:checked + label:after {
  left: 21px;
}

.dark-mode {
  background-color: #1d1d1d;
}
